<div class="border rounded mx-auto w-50 p-5 align-items-center mt-5 bg-white">

    <h4 class="text-center">Business Search</h4>
    <form class="row g-3" method="get" action="/search">
      <div class="col-12">
        <label class="form-label">Keyword<strong><span aria-label="required" style="color:red ;">*</span></strong></label>
        <input type="text" class="form-control" id="keyword" required/>
      </div>
  
  
        <div class="col-md-6">
          <label class="form-label">Distance</label>
          <input type="text" class="form-control" id="distance" placeholder="10"/>
        </div>
  
        <div class="col-md-6">
          <label class="form-label">Category<strong><span aria-label="required" style="color:red ;">*</span></strong></label>
          <select class="form-select" required>
            <option value="all">Default</option>
            <option value="arts">Arts & Entertainment</option>
            <option value="health">Health & Medical</option>
            <option value="hotels">Hotels & Travel</option>
            <option value="food">Food</option>
            <option value="professional">Professional Services</option>
          </select>
        </div>

  
      <div class="col-12">
        <label class="form-label">Location<strong><span aria-label="required" style="color:red ;">*</span></strong></label>
        <input type="text" class="form-control" required>
      </div>
  
      <div class="d-flex flex-row">
        <input type="checkbox" class="form-check-input" value="">
        <label class="form-check-label"> Auto-detect my location</label>
      </div>
  
      <div class="container mt-2">
        <div class="col-md-6 text-center align-items-center">
            <button type="button" class="btn btn-danger text">Submit</button>
            <button type="button" class="btn btn-primary text">Clear</button>
          </div>
      </div>
    </form>
    

</div>

  