
td.mat-cell{
    text-align: center;
    padding: auto;
    justify-content:center;
    color: black;
    font-size:small;
    vertical-align: middle;
}
th.mat-header-cell {
    text-align: center;
    padding: auto;
    justify-content:center;
    color: black;
    font-weight: bold;
    font-size:small;
    vertical-align: middle;
}