table{
    width: 75%;
}
td.mat-cell {
    text-align: center;
    justify-content:center;
    vertical-align: middle;
}

th.mat-header-cell{
    text-align: center;
    justify-content:center;
    color: black;
    font-weight: bold;
    font-size:small;
    vertical-align: middle;
}