/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.background{ 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* background-image: url(./assets/city.jpg); */
    background-image: url(./assets/city.jpg),linear-gradient(to right,#4170c0, #fdfffe);
    height: 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: 70% 200%; 
    background-size: cover;
}
/* 
.color-overlay{
    margin-bottom: -20px;
} */
html, body { height: 100%; }

