/* You can add global styles to this file, and also import other style files */
.background{
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    object-position: 0% 120%;
    background-blend-mode: normal;
}
/* 
.color-overlay{
    margin-bottom: -20px;
} */