
<div class="border rounded mx-auto w-50 p-5 align-items-center mt-5 bg-white">
    <h2 class="text-center">{{data.name}}</h2>
  
    <mat-tab-group class=".bg-warning" mat-align-tabs="center" backgroundColor="accent">
      

        <mat-tab label="Business details">
          <div class="row g-3 align-items-center mx-auto w-50">
        
            <div class="col-md-6">
              <h2>Address</h2>
              <p class="text-left">{{data.location.display_address}}</p>
            </div>

            <div class="col-md-6">
              <h2>Category</h2>
              <p *ngFor="let i of createRange(data.categories.length);">{{data.categories[i-1].title}}</p>
              
            </div>

            <div class="col-md-6">
              <h2>Phone</h2>
              <p>{{data.phone}}</p>
            </div>

            <div class="col-md-6">
              <h2>Price Range</h2>
              <p>{{data.price}}</p>
            </div>

            <div class="col-md-6">
              <h2>Status</h2>
              <p>{{data.hours[0].is_open_now}}</p>
            </div>

            <div class="col-md-6">
              <h2>Visit yelp for more</h2>
              <p><a href="{{data.url}}" target="_blank">Business Link</a></p>
            </div>
          </div>

          <div class="align-items-center pt-3 mx-auto">
            <button type="button" class="btn btn-danger mx-auto">Reserve Now</button>
          </div>

          <div class="align-items-center pt-3 mx-auto">
            <p>Share Now</p>
          </div>
          

        </mat-tab>
        <mat-tab label="Map Location">
          <div class="my-google-map">
            <google-map [options]="mapOptions">
              <map-marker [position]="marker.position"></map-marker>
            </google-map>
         </div>
        </mat-tab>
        <mat-tab label="Reviews"> 
          Reviews
        </mat-tab>
        
      </mat-tab-group>
    
</div>