
<div class="border rounded mx-auto w-50 align-items-center bg-white">
  <br>
    <h2 class="text-center">{{data.name}}</h2>
    <mat-tab-group class="w-100" mat-align-tabs="center" backgroundColor="accent">
        <br>
        <mat-tab label="Business details">
          <div class="row g-3 align-items-center mx-auto w-50">
        
            <div class="col-md-6">
              <h2>Address</h2>
              <p class="text-left">{{data.location.display_address}}</p>
            </div>

            <div class="col-md-6">
              <h2>Category</h2>
              <p *ngFor="let i of createRange(data.categories.length);">{{data.categories[i-1].title}}</p>
              
            </div>

            <div class="col-md-6">
              <h2>Phone</h2>
              <p>{{data.phone}}</p>
            </div>

            <div class="col-md-6">
              <h2>Price Range</h2>
              <p>{{data.price}}</p>
            </div>

            <div class="col-md-6">
              <h2>Status</h2>
              <p>{{data.hours[0].is_open_now}}</p>
            </div>

            <div class="col-md-6">
              <h2>Visit yelp for more</h2>
              <p><a href="{{data.url}}" target="_blank">Business Link</a></p>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-danger mx-auto">Reserve Now</button>
          </div>

          <div class="d-flex align-items-center justify-content-center pt-3">
            <p>Share On: 
              <a href="https://twitter.com/intent/tweet?text=Check%20{{data.name}}%20on%20Yelp.&url={{data.url}}" target="_blank"><img src="../../assets/twitter.png" style="height: 2em; width: 2em"/></a>
              <a href="https://www.facebook.com/sharer/sharer.php?&u={{data.url}}" target="_blank"><img src="../../assets/facebook.png" style="height: 2em; width: 2em" /></a>
            </p>
          </div>
          

        </mat-tab>
        <mat-tab label="Map Location">
          <div class="my-google-map">
            <google-map [center]="center" width="100%" height="500px">
              <map-marker [position]="marker.position"></map-marker>
            </google-map>
         </div>
        </mat-tab>
        <mat-tab label="Reviews"> 
          <div class="border-bottom bg-secondary">
            <h4>{{data1.reviews[0].user.name}}</h4>
            <p>Rating: {{data1.reviews[0].rating}}/5</p>
            <p>{{data1.reviews[0].text}}</p>
            <p>{{data1.reviews[0].time_created}}</p>
          </div>
          <div class="bg-light">
            <h4>{{data1.reviews[1].user.name}}</h4>
            <p>Rating: {{data1.reviews[1].rating}}/5</p>
            <p>{{data1.reviews[1].text}}</p>
            <p>{{data1.reviews[1].time_created}}</p>
          </div>
          <div class="border-top bg-secondary">
            <h4>{{data1.reviews[2].user.name}}</h4>
            <p>Rating: {{data1.reviews[2].rating}}/5</p>
            <p>{{data1.reviews[2].text}}</p>
            <p>{{data1.reviews[2].time_created}}</p>
          </div>
        </mat-tab>
        
      </mat-tab-group>
    
</div>