
<div class="container">
<div class="border rounded mx-auto justify-content-center bg-white col-lg-6 col-md-8 col-sm-4 col-sm-*" id="card-data">
  <br>
    <h2 class="text-center">{{data.name}}</h2>
    <mat-tab-group class="w-100" mat-align-tabs="center" backgroundColor="accent">
        <br>
        <mat-tab label="Business details">
          <div class="container">


          <div class="row g-3 mx-auto mt-2">
            
            <div class="col-md-6">
              <h2 class="text-center">Address</h2>
              <p class="text-center">{{data.location.display_address}}</p>
            </div>
          
          <div class="col-md-6">
            <h2 class="text-center">Category</h2>
            <p *ngFor="let i of createRange(data.categories.length);" class="text-center">{{data.categories[i-1].title}}</p>
            
          </div>
            

            <div class="col-md-6">
              <h2 class="text-center">Phone</h2>
              <p class="text-center">{{data.phone}}</p>
            </div>

            <div class="col-md-6">
              <h2 class="text-center">Price Range</h2>
              <p class="text-center">{{data.price}}</p>
            </div>

            <div class="col-md-6" *ngIf="data.hours[0].is_open_now; else openNow">
              <h2 class="text-center">Status</h2>
              <p class="text-success text-center">Open Now</p>
            </div>

            <div class="col-md-6">
            <ng-template  #openNow>
              <h2 class="text-center">Status</h2>
              <p class="text-danger text-center">Closed</p>
            </ng-template>
          </div>

            <div class="col-md-6">
              <h2 class="text-center">Visit yelp for more</h2>
              <p class="text-center"><a href="{{data.url}}" target="_blank">Business Link</a></p>
            </div>
          </div>

          <div *ngIf="notReserved" class="d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Reserve Now</button>
          </div>

          <div *ngIf="reserved" class="d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary btn-primary" (click)="cancelReservation()" >Cancel Reservation</button>
          </div>

          <div class="d-flex align-items-center justify-content-center pt-3">
            <p>Share On: 
              <a href="https://twitter.com/intent/tweet?text=Check%20{{data.name}}%20on%20Yelp.&url={{data.url}}" target="_blank"><img src="../../assets/twitter.png" style="height: 2em; width: 2em"/></a>
              <a href="https://www.facebook.com/sharer/sharer.php?&u={{data.url}}" target="_blank"><img src="../../assets/facebook.png" style="height: 2em; width: 2em" /></a>
            </p>
          </div>
          <br>
          <div class="justify-content-center pt-3">
            <div id="carouselExampleControls" class="carousel slide justify-content-center mx-auto" data-bs-ride="carousel">
              <div class="carousel-inner justify-content-center mx-auto col-lg-1 col-md-2 col-sm-1">
                <div class="container justfy-content-center mx-auto">
                  <div class="carousel-item active mx-auto justify-content-center col-1">
                    <img src="{{data.photos[0]}}"  class="mx-auto d-block justfy-content-center mx-auto" style="height: 5em;">
                  </div>
                  <div class="carousel-item col-3 justfy-content-center col-1">
                    <img src="{{data.photos[1]}}" class="mx-auto d-block" style="height: 5em;">
                  </div>
                  <div class="carousel-item col-3 justfy-content-center col-1">
                    <img src="{{data.photos[2]}}" class="mx-auto d-block" style="height: 5em;">
                  </div>
                </div>
                
              </div>
              <button class="carousel-control-prev btn-secondary" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
          

        </mat-tab>
        <mat-tab label="Map Location">
          <div class="my-google-map">
            <google-map [center]="center" width="100%" height="500px">
              <map-marker [position]="marker.position"></map-marker>
            </google-map>
         </div>
        </mat-tab>
        <mat-tab label="Reviews"> 
          <div class="border-bottom bg-light">
            <h4>{{data1.reviews[0].user.name}}</h4>
            <p>Rating: {{data1.reviews[0].rating}}/5</p>
            <p>{{data1.reviews[0].text}}</p>
            <p>{{data1.reviews[0].time_created}}</p>
          </div>
          <div class="bg-white">
            <h4>{{data1.reviews[1].user.name}}</h4>
            <p>Rating: {{data1.reviews[1].rating}}/5</p>
            <p>{{data1.reviews[1].text}}</p>
            <p>{{data1.reviews[1].time_created}}</p>
          </div>
          <div class="border-top bg-light">
            <h4>{{data1.reviews[2].user.name}}</h4>
            <p>Rating: {{data1.reviews[2].rating}}/5</p>
            <p>{{data1.reviews[2].text}}</p>
            <p>{{data1.reviews[2].time_created}}</p>
          </div>
        </mat-tab>
      </mat-tab-group>
</div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Reservation Form</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">{{data.name}}</h3>
        <form class="row g-3" method="get">
          <div class="col-12">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" pattern="[^ @]*@[^ @]*" #email required />
          </div>

          <div class="col-12">
            <label>Date</label>
            <input type="date" class="form-control"  #date required/>
          </div>

          <div class="col-3">
            <label>Time</label>
            <select class="form-select" #timehour required>
              <option value=""></option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
            </select>

          </div>
          <div class="col-3">
            <label></label>
            <select class="form-select" #timeminutes required>
              <option value=""></option>
              <option value="00">00</option>
              <option value="15">15</option>
              <option value="30">30</option>
              <option value="45">45</option>
            </select>
          </div>
          <div class="col-12 text-center">
            <button type="button" class="btn btn-danger mx-auto" (click)="makeReservation()">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
<app-bookings *ngIf="reservation"></app-bookings>